.item {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
    margin: 0px;
    line-height: 0.9em;
}
.selected {
    background-color: #0F1726;
}
#container {
    display: flex;
}
#container > div {
    padding: 10px;
    min-width: calc(50% - 20px);
}