#idNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    outline: none;
  }
  /* .icon.home path{
    fill: #000;
  } */
  .icon:hover {
    transition: .1s;
    outline:none;
    filter:drop-shadow(0px 0px 6px #09d3ac);
    cursor: pointer;
  }
  .icon.dark path {
    fill: #000;
  }
  .icon.light path{
    fill: #fff;
  }
  .icon.dark:focus path, .icon--active.dark path{
    fill: #fff;
  }
  .icon.light:focus path, .icon--active.light path{
    fill: #000;
  }
  #idNav button {
    border:0;
    padding:0;
    background-color:transparent;
  }
  
  #idNav button:hover {
    transition: .1s;
    transform: scale(1.1);
    transform-origin: center center;
  }
  
  .rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }